[Unit]
Description=Start cloud-config and cloud-final manually
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/cloud-init modules --mode=config
ExecStart=/usr/bin/cloud-init modules --mode=final
RemainAfterExit=yes
StandardOutput=journal+console
TimeoutSec=0
Type=oneshot

[Install]
WantedBy=multi-user.target