[Unit]
Description=Suricata Intrusion Detection Service Rules Update

[Service]
User=root
Group=root
Type=oneshot
# FIXME ip vrf exec <internet vrf> ... configured by networker
ExecStart=/usr/bin/suricata-update

[Install]
WantedBy=multi-user.target