# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# CIS 5.2.4 - explicitly define the SSH2 protocol
Protocol 2

# Ciphers and keying
# CIS 5.2.2 - Rekey limit for time (6 hours) or volume (512Mio) whichever comes first
RekeyLimit 512M 6h

# Enable modern ciphers, key exchange, and MAC algorithms to increase security.
# References: man sshd_config, https://infosec.mozilla.org/guidelines/openssh.html#modern-openssh-67
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
# CIS 5.2.14 - Ensure only strong MAC algorithms are used
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
# CIS 5.2.15 - Ensure only strong Key Exchange algorithms are used (minified version of CIS recomendation)
KexAlgorithms diffie-hellman-group-exchange-sha256,curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256

# Logging
#SyslogFacility AUTH
# CIS 5.2.5 - ensure SSH LogLevel is appropriate
LogLevel INFO

# Authentication:
# CIS 5.2.17 - Ensure SSH LoginGraceTime is set to one minute or less
LoginGraceTime 60
# CIS 5.2.10 - disable SSH Root Login
PermitRootLogin no
# CIS 5.2.5 - Ensure home directory and ssh sensitive files are verified (not publicly readable) before connecting.
StrictModes yes
# CIS 5.2.7 - set SSH MaxAuthTries to 4
MaxAuthTries 4
# CIS 5.2.23 - Limit SSH MaxSessions
MaxSessions 10

# CIS 5.2.8 - set SSH IgnoreRhosts to Yes
IgnoreRhosts yes
# CIS 5.2.1 - Ensure that sshd only allows authentication through public key
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
KerberosAuthentication no
ChallengeResponseAuthentication no
GSSAPIAuthentication no
GSSAPIKeyExchange no
# CIS 5.2.9 - set HostbasedAuthentication to No
HostbasedAuthentication no
# CIS 5.2.11 - set SSH PermitEmptyPasswords to No
PermitEmptyPasswords no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

# CIS 5.2.3 - all special features in sshd_config are disabled
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
PermitTunnel no
PermitUserRC no
GatewayPorts no
# CIS 5.2.6 - disable  X11 forwarding
X11Forwarding no

#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd no
#PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no

# CIS 5.2.12 - do not allow users to set environment options
PermitUserEnvironment no

#Compression delayed

# CIS 5.2.16 - Ensure SSH Idle Timeout Interval is configured
ClientAliveInterval 300
ClientAliveCountMax 0
#UseDNS no
#PidFile /var/run/sshd.pid

# CIS 5.2.22 - configure MaxStartups
# 0: Number of unauthenticated connections before we start dropping
# 30: Percentage chance of dropping once we reach 10 (increases linearly for more than 10)
# 60: Maximum number of connections at which we start dropping everything
MaxStartups 10:30:60

#ChrootDirectory none
#VersionAddendum none

# CIS 5.2.18 - Ensure SSH access is limited
AllowUsers metal
AllowGroups sudo
DenyUsers nobody
DenyGroups nobody nogroup

# CIS 5.2.19 - Set SSH banner
Banner /etc/issue.net

# override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server
