---
name: Release Pipeline

on:
  release:
    types:
      - published

jobs:
  copy:
    name: Copy image tarballs from latest stable to release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          cache: false

      - run: go run ./cmd/tools/handle-release
        env:
          FILENAME: downloads.md
          GCS_BUCKET: images.metal-pod.io
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REF_NAME: ${{ github.ref_name }}
          DISTRO_VERSIONS: |
            [
              "ubuntu/24.04",
              "capms-ubuntu/1.32.9",
              "firewall/3.0-ubuntu",
              "debian/13",
              "debian-nvidia/13",
              "almalinux/9",
            ]

      - name: Update release body
        id: update_release
        uses: tubone24/update_release@v1.3.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          body_path: ./downloads.md
          is_append_body: true
